<div style="text-align: center; background-color: light-gray;">
  <div>
    <img src="/images/Bb_Signature_StdReg.jpg" alt="Blackboard Logo" height="300px"/>
  </div>
  <h1>
    {{title}}
  </h1>
  <p>
    {{instructions}}
  </p>
</div>
<div>
  <new-user-form></new-user-form>
</div>
<div>
  <br />
  <p style="text-align: right;padding-right:35px;">Click here to <a href="https://<YOUR_LEARN_SERVER/learn/api/public/v1/oauth2/authorizationcode?redirect_uri=http://localhost:4200&response_type=code&client_id=<YOUR_REST_APP_KEY>&scope=read write offline&state=1234567890" target="_self">login </a> to use three-legged OAuth.</p>
</div>
